<div>
    <div class="container login">
        <div class="text-center">
            <h2>Login</h2>
        </div>

        <form #userform="ngForm" ngNativeValidate (ngSubmit)="onSubmit(userform)">

            <div class="marginAll form-group">
                <label for="user">User</label>
                <input type="text" id="user" name="user" class="form-control" autocomplete="off" required [(ngModel)]="userInfor.user">
                <span [hidden]="UserValidation" class="text-danger">
                    User incorrect
                </span>
            </div>
            <div class="marginAll form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password' " id="password" name="password" class="form-control" autocomplete="off" required [(ngModel)]="userInfor.password">
                    <span class="input-group-text" [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash' " (click)="togglePasswordShow()"></span>
                </div>
                <span [hidden]="PasswordValidation" clnew branch ass="text-danger">
                    Password incorrect
                </span>
            </div>
            <div class="marginAll">
                <a routerLink="/Register">Register</a>
                <a class="float-end" routerLink="/ResetPassword">Reset Password</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">

                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>

    </div>
</div>