.login {
    max-width: 25rem;
    display: block;
    margin-top: 14rem;
    margin-left: auto;
    margin-right: auto;
}

.marginAll {
    margin: 1rem;
}
.alert{
    padding: 0.4rem 0.4rem !important;
}
